<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="D:\Arco\Config\doma.config">
    <add key="ApplicationServerIP" value="" />

    <!-- use this to bind to a specific ip address, blank for AnyIp -->
    <add key="ApplicationServerSize" value="5000" />
    <!-- Max nr of items in the cache -->
    <add key="MaxObjectLifeTime" value="02:00" />
    <add key="ApplicationServerMinimumSlots" value="1000" />
    <!-- If memory isn't a problem, keep this value at about 4 times the amount of objects in the cache-->
    <add key="ServiceUser" value="_DATABASE\ADMIN" />
    <add key="ServiceName" value="Arco Application Server" />
    <add key="ServiceDescription" value="Arco Application Server" />
    <add key="ServerType" value="1" />
    <!-- 1 (or not defined) : Master, 2 : Jobs Processor (slave)-->
    <add key="DisableDataCache" value="true" />
  </appSettings>
</configuration>