<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- Logging -->
    <add key="Log" value="1"/>
    <add key="LogFull" value="1"/>
    <add key="LogFileError" value="D:\Devel\Doma40\Arco\DocRoom2Doma\DomaLog_Error.txt"/>

    <!-- Database settings -->
    <add key="Authentication" value="Windows"/>
    <add key="DATABASE" value="User Id=doma;Data Source=DOTNET;Password=doma;"/>
    <add key="DATABASETYPE" value="Oracle"/>
    <add key="OracleAssembly" value="Oracle.DataAccess, version=10.1.0.200, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <add key="QueueName" value="FORMATNAME:DIRECT=OS:ARCOBE08\Private$\DOMA"/>
    <add key="ErrorQueueName" value="FORMATNAME:DIRECT=OS:ARCOBE08\Private$\DOMAErrors"/>
    <add key="ListenerPort" value="8001"/>
    <add key="ListenerName" value="DOMAIndexer"/>
    <add key="MaxActiveEntries" value="1000"/>
    <add key="TraceFile" value="D:\Devel\Doma40\Arco\DocRoom2Doma\DomaTrace.txt"/>
    <add key="DebugFile" value="D:\Devel\Doma40\Arco\DocRoom2Doma\DomaDebug.txt"/>
    <add key="LogFile" value="D:\Devel\Doma40\Arco\DocRoom2Doma\DomaLog.txt"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>

    <!-- Settings -->
    <add key="FolderPrefix" value="Test Kathleen"/>
    <add key="FolderParentID" value="1081042"/>
    <add key="FolderPrefix--" value=""/>
    <add key="FolderParentID--" value="0"/>
    <add key="FolderCatID" value="2048"/>
    <add key="DocumentCatID" value="2000"/>
    <add key="AddDrmDoc" value="41030000"/>
    <add key="AddDrmArchive" value="41040000"/>
    <add key="AddDrmTree" value="41050000"/>
    <add key="PathFileUpload" value="\\arcobe01\Data\Transfer\Kathleen\FileUpload"/>
    <add key="FilterDrmDoc" value="DOCTYPEID='OUD'"/>
    <add key="FilterDrmTree" value=""/>
    <add key="SetFolderSecurity" value="1"/>
    <add key="FailedDocCount" value="1000000"/>
    <add key="ProxyEnabled" value="0"/>
    <add key="ProxyName" value=""/>
    <add key="ProxyPort" value="0"/>
    <add key="Audit" value="0"/>
    <add key="FieldsTranslation" value="1"/>
    <add key="SkipTextFile" value="0"/>
    <add key="SkipImageFile" value="0"/>
    <add key="DateCulture" value="en-ZA"/>
    <add key="UseFolderFeedback" value="1"/>

    <!-- Menu settings -->
    <add key="MenuDocRoom" value="0"/>
    <add key="MenuConfig" value="0"/>
    <add key="MenuAddFolders" value="0"/>
    <add key="MenuAddDocs" value="0"/>
    <add key="MenuAddFiles" value="0"/>
    <add key="MenuAddRelations" value="0"/>
    <add key="MenuAddNotes" value="0"/>
    <add key="MenuSetSecFolders" value="0"/>
    <add key="MenuSetSecDocs" value="0"/>
    <add key="MenuAddArchivedDocs" value="0"/>
    <add key="MenuAddArchivedFiles" value="0"/>
    <add key="MenuArchive" value="0"/>

    <!-- Properties section
         1 = enabled 
         0 = disabled -->
    <add key="Prop_Author" value="1"/>
    <add key="Prop_PublishDate" value="1"/>
    <add key="Prop_Source" value="1"/>
    <add key="Prop_Topic" value="1"/>
    <add key="Prop_Completed" value="1"/>
    <add key="Prop_Storage" value="1"/>
    <add key="Prop_Pressreview" value="1"/>
    <add key="Prop_RemoteURL" value="1"/>
    <add key="Prop_UDCCodes" value="1"/>
    <add key="Prop_LangCode" value="1"/>
    <add key="Prop_Label" value="1"/>
    <add key="Prop_Keywords" value="1"/>
    <add key="Prop_Abstract" value="1"/>

    <!-- Properties section
         0  = onbestaand
         >0 = propid -->
    <add key="PropID_Author" value="220"/>
    <add key="PropID_PublishDate" value="871"/>
    <add key="PropID_Source" value="221"/>
    <add key="PropID_Topic" value="222"/>
    <add key="PropID_Completed" value="223"/>
    <add key="PropID_Storage" value="224"/>
    <add key="PropID_Pressreview" value="225"/>
    <add key="PropID_RemoteURL" value="226"/>
    <add key="PropID_UDCCodes" value="227"/>
    <add key="PropID_LangCode" value="228"/>
    <add key="PropID_Label" value="229"/>
    <add key="PropID_Keywords" value="230"/>
    <add key="PropID_Abstract" value="231"/>
    
     <!-- Kathleen's localdb custom fields -->
    <add key="PropID_EC1" value="10521"/>
    <add key="PropID_EC2" value="10522"/>
    <add key="PropID_EC3" value="10523"/>
    <add key="PropID_EC4" value="10524"/>
    <add key="PropID_EC5" value="10525"/>
    <add key="PropID_EC6" value="10526"/>
    <add key="PropID_EC7" value="10527"/>
    <add key="PropID_EC8" value="10528"/>
    <add key="PropID_EC9" value="10529"/>
    <add key="PropID_EC10" value="10530"/>
    <add key="PropID_EC11" value="10531"/>
    <add key="PropID_EC12" value="10532"/>
    <add key="PropID_EC13" value="10533"/>
    <add key="PropID_EC14" value="10534"/>

    <!-- Link types 
         key   = link type DocRoom
         value = typeid of table dm_relation_type -->
    <add key="Link_Generic" value="0"/>
    <add key="Link_Similar" value="1"/>
    <add key="Link_Translation" value="0"/>

    <!-- ACL types 
         key   = type acl DocRoom
         value = profile id Doma -->
    <add key="DR_ACL_NONE" value="2003"/>
    <add key="DR_ACL_BROWSER" value="2004"/>
    <add key="DR_ACL_VIEWER" value="2005"/>
    <add key="DR_ACL_AUTHOR" value="2006"/>
    <add key="DR_ACL_OWNER" value="2007"/>
    <add key="DR_ACL_ADMIN" value="2008"/>
    <add key="DR_ACL_SUPERADMIN" value="2009"/>

    <!-- Fixing archived properties
         key = docroom column
         value = propid doma (0=disabled) -->
    <add key="EXTRAFIELD1-" value="0"/>
    <add key="EXTRAFIELD2-" value="0"/>

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
