<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DomaAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="Back_PP" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings file="D:\Arco\Config\doma.config">
    <!-- Drum -->
    <add key="Log" value="1" />
    <add key="LogFull" value="1" />
    <add key="MaxCnt" value="5" />
    <add key="Username" value="_DATABASE\ADMIN" />
    <add key="Password" value="admin" />
    <add key="ICLocation" value="[DATADIR]Drum\XML_IC" />
    <add key="ISLocation" value="[DATADIR]Drum\XML_IS" />
    <add key="ISFeedLocation" value="[DATADIR]Drum\XML_ISFEED" />
    <add key="TemplatesLocation" value="[DATADIR]Drum\XML_TEMPLATES" />
    <add key="DrumIn" value="[DATADIR]Drum\XML_DOMA_IN" />
    <add key="DrumOut" value="[DATADIR]Drum\XML_DOMA_OUT" />
    <add key="DrumError" value="[DATADIR]Drum\XML_DOMA_ERROR" />
    <add key="FileUpload" value="[DATADIR]Drum\FileUpload" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Doma Admin Extenders : Class, Assembly -->
    <add key="ScreenFilterExtender" value="DomaAdminExtenders.ScreenFilterExtender, DomaAdminExtenders" />
    <add key="TemplateActionsExtender" value="DomaAdminExtenders.TemplateActionsExtender, DomaAdminExtenders" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <DomaAdmin.My.MySettings>
      <setting name="AppWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="LookAndFeel" serializeAs="String">
        <value>Office 2007 Silver</value>
      </setting>
      <setting name="Config" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveGridLayout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfigUser" serializeAs="String">
        <value />
      </setting>
      <setting name="GridFilterOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridNotesOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppMaximize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUsed" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveProcImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpandEvents" serializeAs="String">
        <value>False</value>
      </setting>
    </DomaAdmin.My.MySettings>
  </userSettings>
  <system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.1, Version=10.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>
  <Back_PP file="D:\Arco\Config\Back_PP.config" />
</configuration>