<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="D:\Arco\Config\doma.config">
    <add key="TemplateDirectory" value="[DATADIR]GenCD\Template" />
    <add key="OutputDirectory" value="[DATADIR]GenCD\Output" />
    <add key="DataDirOnly" value="1" />
    <add key="ClearCDListAfterGeneration" value="1" />
  </appSettings>
</configuration>